In [1]:
import pyspark
from pyspark.sql import SQLContext, SparkSession
from pyspark.sql.functions import hour, when, col, date_format, to_timestamp, create_map, lit
from pyspark.sql.functions import *
from pyspark.sql.types import StructType
from itertools import chain
from faker import Faker
import os

In [2]:
import findspark
findspark.find()

ValueError: Couldn't find Spark, make sure SPARK_HOME env is set or Spark is in an expected location (e.g. from homebrew installation).

In [3]:
memory = '4g'
pyspark_submit_args = ' --driver-memory ' + memory + ' pyspark-shell'
os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

In [4]:
sc = pyspark.SparkContext(appName="temp")
sqlContext = SQLContext(sc)

sp = SparkSession.builder.config("spark.driver.memory", "15g").appName('ReviewsSpark').getOrCreate()

#### Function to Load Data

In [5]:
def load_business_data():
    path = "archive/yelp_academic_dataset_business.json"
    df = sqlContext.read.json(path, multiLine=False)
    return df

def load_review_data():
    path = "archive/yelp_filtnosamp_gt5.csv"
    df = sp.read.option("header",True).csv(path)
    return df

In [6]:
df = load_business_data()

df2 = load_review_data()

#### Show Data and Schema

In [10]:
df.show()

+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|          city|               hours|is_open|     latitude|      longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|        921 Pearl St|{null, null, 'bee...|6iYb2HFDywm3zjuRg...|Gastropubs, Food,...|       Boulder|{11:0-23:0, 11:0-...|      1|   40.0175444|   -105.2833481| Oskar Blues Taproom|      80302|          86|  4.0|   CO|
| 7000 NE Airport Way|{null, null, u'be...|tCbdrRPZA0oiIYSmH...|Salad, Soup, Sand...|      Portland|{5:0-18:0, 5:0-18...|      1|45.5889058992|-122.5933307507|Flying Elephants ...|      97218|         126|  4.0|   OR|
|  4720 Hawthorne Ave|{null, null, null...|bvN78flM8NLprQ1a1...|Antiques, Fashion...|      Portland|{11:0-18:0, null,...|      1|45.5119069956|-122.6136928797|      The Reclaimory|      97214|          13|  4.5|   OR|
|  2566 Enterprise Rd|{null, null, null...|oaepsyvc0J17qwi8c...|Beauty & Spas, Ha...|   Orange City|                null|      1|   28.9144823|    -81.2959787|         Great Clips|      32763|           8|  3.0|   FL|
| 1046 Memorial Dr SE|{null, null, null...|PE9uqAjdw0E4-8mjG...|Gyms, Active Life...|       Atlanta|{16:0-19:0, 16:0-...|      1|   33.7470274|    -84.3534244|   Crossfit Terminus|      30316|          14|  4.0|   GA|
|        3755 Main St|{null, null, u'no...|D4JtQNTI4X3Kcbzac...|   Restaurants, Thai|     Vancouver|{17:0-21:0, 17:0-...|      1|   49.2513423|    -123.101333| Bob Likes Thai Food|        V5V|         169|  3.5|   BC|
|   2511 Edgewater Dr|{True, null, null...|t35jsh9YnMtttm69U...|Dentists, Health ...|       Orlando|{8:0-17:30, 0:0-0...|      1|    28.573998|    -81.3892841| Escott Orthodontics|      32804|           7|  4.5|   FL|
|       740 S High St|                null|jFYIsSb7r1QeESVUn...|Breakfast & Brunc...|      Columbus|{null, null, 8:0-...|      1| 39.947006523|     -82.997471|     Boxwood Biscuit|      43206|          11|  4.5|   OH|
|7801 N Lamar Blvd...|{null, null, null...|N3_Gs3DnX4k9SgpwJ...|Shopping, Jewelry...|        Austin|{12:15-17:0, 12:1...|      1|    30.346169|     -97.711458|Lane Wells Jewelr...|      78752|          30|  5.0|   TX|
|615 W Slaughter L...|{null, null, null...|tXvdYGvlEceDljN8g...|Barbers, Beauty &...|        Austin|{9:0-19:0, 9:0-17...|      0|   30.1727062|    -97.7999199|Capital City Barb...|      78748|           5|  4.0|   TX|
|     100 Clematis Dr|{null, null, null...|rYs_1pNB_RMtn5WQh...|Food, Shopping, C...|       Boulder|{8:0-20:0, 8:0-20...|      1|   39.9984488|    -105.281006|Chautauqua Genera...|      80302|           5|  3.5|   CO|
|124 Newbury St, U...|{null, null, null...|hCABMnKtwo4Y9alQD...|Wigs, Hair Extens...|       Peabody|{9:0-18:0, 10:0-1...|      1|   42.5342478|    -70.9909475|Star Kreations Sa...|      01960|           8|  4.0|   MA|
|       474 Lowell St|{null, null, u'no...|HPA_qyMEddpAEtFof...|Food, Pizza, Rest...|       Peabody|{11:0-22:0, 11:0-...|      1|    42.541155|     -70.973438| Mr G's Pizza & Subs|      01960|          39|  4.0|   MA|
|   247 E Michigan St|{null, null, null...|ufCxltuh56FF4-ZFZ...|Restaurants, Amer...|       Orlando|{11:0-18:0, null,...|      1|   28.5132647|    -81.3747072|      Sister Honey's|      32806|         135|  4.5|   FL|
|       225 E Main St|{null, null, null...|i_t_30RYVUDdZzFIc...|Books, Mags, Musi...|      Columbus|{9:0-17:30, null,...|      0|   39.9566155|    -82.9933017|Uncle Sam's Pawn ...|      43215|           5|  4.0|   OH|
|    5510 Memorial Dr|{null, null, null...|g7CEhqBIpwTg6ERcM...|Oil Change Statio...|Stone Mountain|{8:0-18:30, 8:0-1...|      1|   33.8006868|      -84.21282|Finish Line Car Wash|      30083|          11|  2.5|   GA|
|     1050 Century Dr|{null, null, null...|GfWJ19Js7wX9rwaHQ...|Restaurants, Amer...|       Orlando|{7:0-22:0, 0:0-0:...|      1|   28.3504984|     -81.542819|Everything POP Sh...|      32830|           7|  3.0|   FL|
|4787 W Irlo Brons...|{null, null, null...|MUeUyqhMja-nnmvgP...|Hotels, Vacation ...|     Kissimmee|{0:0-0:0, 0:0-0:0...|      0|    28.330255|     -81.469464|Saratoga Resort V...|      34746|          55|  3.5|   FL|
|       2 Florence St|                null|6fT0lYr_UgWSCZs_w...|Specialty Schools...|        Malden|{8:0-17:0, 8:0-20...|      1|    42.427889|     -71.073475|       Salter School|      02148|           5|  2.0|   MA|
|  350 W Sand Lake Rd|{null, null, 'non...|dmbbf3AqeG61_QHRZ...|Automotive, Ameri...|   Pine Castle|                null|      1|   28.4503025|    -81.3805873|            RaceTrac|      32809|           5|  3.5|   FL|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [11]:
df.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [ ]:
df2.show()

In [14]:
df2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- userID: string (nullable = true)
 |-- itemID: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- name: string (nullable = true)

# Business Data Manipulation

#### (TODO) Flattens the Structs so that all the Nested Columns are Normal Columns

In [ ]:
##To be done
def flatten_df(df, prefix=""):
    return df

In [ ]:
# df = df.select(flatten_df(df))
# df.show()

#### Clean up the Data and Keep Required Rows

In [7]:
def clean_data(df):
    '''
    input: df a dataframe
    output: df a dataframe with the all the original columns
    '''
    
    # START YOUR CODE HERE ---------
    df = df.select(["name", "latitude", "longitude", "city", "review_count", "stars", "attributes", "categories"])
    

    # END YOUR CODE HERE -----------
    return df

In [8]:
df = clean_data(df)
df.show()

+--------------------+-------------+---------------+--------------+------------+-----+--------------------+--------------------+
|                name|     latitude|      longitude|          city|review_count|stars|          attributes|          categories|
+--------------------+-------------+---------------+--------------+------------+-----+--------------------+--------------------+
| Oskar Blues Taproom|   40.0175444|   -105.2833481|       Boulder|          86|  4.0|{null, null, 'bee...|Gastropubs, Food,...|
|Flying Elephants ...|45.5889058992|-122.5933307507|      Portland|         126|  4.0|{null, null, u'be...|Salad, Soup, Sand...|
|      The Reclaimory|45.5119069956|-122.6136928797|      Portland|          13|  4.5|{null, null, null...|Antiques, Fashion...|
|         Great Clips|   28.9144823|    -81.2959787|   Orange City|           8|  3.0|{null, null, null...|Beauty & Spas, Ha...|
|   Crossfit Terminus|   33.7470274|    -84.3534244|       Atlanta|          14|  4.0|{null, null, null...|Gyms, Active Life...|
| Bob Likes Thai Food|   49.2513423|    -123.101333|     Vancouver|         169|  3.5|{null, null, u'no...|   Restaurants, Thai|
| Escott Orthodontics|    28.573998|    -81.3892841|       Orlando|           7|  4.5|{True, null, null...|Dentists, Health ...|
|     Boxwood Biscuit| 39.947006523|     -82.997471|      Columbus|          11|  4.5|                null|Breakfast & Brunc...|
|Lane Wells Jewelr...|    30.346169|     -97.711458|        Austin|          30|  5.0|{null, null, null...|Shopping, Jewelry...|
|Capital City Barb...|   30.1727062|    -97.7999199|        Austin|           5|  4.0|{null, null, null...|Barbers, Beauty &...|
|Chautauqua Genera...|   39.9984488|    -105.281006|       Boulder|           5|  3.5|{null, null, null...|Food, Shopping, C...|
|Star Kreations Sa...|   42.5342478|    -70.9909475|       Peabody|           8|  4.0|{null, null, null...|Wigs, Hair Extens...|
| Mr G's Pizza & Subs|    42.541155|     -70.973438|       Peabody|          39|  4.0|{null, null, u'no...|Food, Pizza, Rest...|
|      Sister Honey's|   28.5132647|    -81.3747072|       Orlando|         135|  4.5|{null, null, null...|Restaurants, Amer...|
|Uncle Sam's Pawn ...|   39.9566155|    -82.9933017|      Columbus|           5|  4.0|{null, null, null...|Books, Mags, Musi...|
|Finish Line Car Wash|   33.8006868|      -84.21282|Stone Mountain|          11|  2.5|{null, null, null...|Oil Change Statio...|
|Everything POP Sh...|   28.3504984|     -81.542819|       Orlando|           7|  3.0|{null, null, null...|Restaurants, Amer...|
|Saratoga Resort V...|    28.330255|     -81.469464|     Kissimmee|          55|  3.5|{null, null, null...|Hotels, Vacation ...|
|       Salter School|    42.427889|     -71.073475|        Malden|           5|  2.0|                null|Specialty Schools...|
|            RaceTrac|   28.4503025|    -81.3805873|   Pine Castle|           5|  3.5|{null, null, 'non...|Automotive, Ameri...|
+--------------------+-------------+---------------+--------------+------------+-----+--------------------+--------------------+
only showing top 20 rows

#### Filter Entries with Empty Ratings Field

Since with this, we see that there are no restaraunts with null ratings, we know that we do not need to filter out any rows from this dataframe.

In [9]:
df.filter(df.stars.isNull()).show()

+----+--------+---------+----+------------+-----+----------+----------+
|name|latitude|longitude|city|review_count|stars|attributes|categories|
+----+--------+---------+----+------------+-----+----------+----------+
+----+--------+---------+----+------------+-----+----------+----------+

#### Filter the Data so Only Data from Atlanta is contained (temporarily)

In [ ]:
df = df.filter(df.city == "Atlanta")
df.show()

# Reviews Data Manipulation

In [10]:
fakeGen = Faker() 
users = df2.select("userID").distinct().coalesce(1)
fakeNameMap = {}
for user in users.rdd.toLocalIterator():
    fakeNameMap[user["userID"]] = fakeGen.name()
    
mapping_expr = create_map([lit(x) for x in chain(*fakeNameMap.items())])

df2 = df2.withColumn("name", mapping_expr.getItem(col("userID")))

In [11]:
df2.toPandas().to_csv('yelp_filtnosamp_gt5_withname.csv')

In [12]:
df2.show()

+---+--------------------+--------------------+------+-------------------+
|_c0|              userID|              itemID|rating|               name|
+---+--------------------+--------------------+------+-------------------+
|  0|ak0TdVmGKo4pwqdJS...|buF9druCkbuXLX526...|   4.0|      Rickey Miller|
|  1|ak0TdVmGKo4pwqdJS...|bNZ3-0rse12NKdSVq...|   4.0|      Rickey Miller|
|  2|ak0TdVmGKo4pwqdJS...|BVsIaKL-8QXVjt0Z9...|   4.0|      Rickey Miller|
|  3|ak0TdVmGKo4pwqdJS...|4MClvr12OXBNvGu8h...|   5.0|      Rickey Miller|
|  4|ak0TdVmGKo4pwqdJS...|2vH58mhkEl8GdcDug...|   5.0|      Rickey Miller|
|  5|YoVfDbnISlW0f7abN...|RA4V8pr014UyUbDvI...|   4.0|Elizabeth Patterson|
|  6|YoVfDbnISlW0f7abN...|XJKy6GFNp0ALI7kU0...|   5.0|Elizabeth Patterson|
|  7|YoVfDbnISlW0f7abN...|7eclDcacLLle21r0R...|   1.0|Elizabeth Patterson|
|  8|YoVfDbnISlW0f7abN...|xG8nb41yshMoYYSwe...|   5.0|Elizabeth Patterson|
|  9|YoVfDbnISlW0f7abN...|etxutRwLeNEtDmsL5...|   5.0|Elizabeth Patterson|
| 10|YoVfDbnISlW0f7abN...|rmvojvNhGcvfHiWyD...|   5.0|Elizabeth Patterson|
| 11|YoVfDbnISlW0f7abN...|cb1M5kDGGOgy_2AV7...|   5.0|Elizabeth Patterson|
| 12|YoVfDbnISlW0f7abN...|VkV9tfARXGzUjqmRd...|   5.0|Elizabeth Patterson|
| 13|YoVfDbnISlW0f7abN...|OujJ-zcC0ne8370rJ...|   1.0|Elizabeth Patterson|
| 14|YoVfDbnISlW0f7abN...|iJ84NfZx0-34Kfskq...|   4.0|Elizabeth Patterson|
| 15|YoVfDbnISlW0f7abN...|3nmqhc5X3V9kIybow...|   3.0|Elizabeth Patterson|
| 16|YoVfDbnISlW0f7abN...|QMLYEVjIw1qf_R4Q1...|   4.0|Elizabeth Patterson|
| 17|YoVfDbnISlW0f7abN...|y-Qh-9h8_NNORFGNh...|   4.0|Elizabeth Patterson|
| 18|YoVfDbnISlW0f7abN...|G-mqbRnV9rX5Nf2NK...|   3.0|Elizabeth Patterson|
| 19|YoVfDbnISlW0f7abN...|T3c8HTgo49BOkYyMT...|   4.0|Elizabeth Patterson|
+---+--------------------+--------------------+------+-------------------+
only showing top 20 rows

In [13]:
name_list = df2.select("userID", "name").distinct()

In [14]:
name_list.show()

+--------------------+------------------+
|              userID|              name|
+--------------------+------------------+
|1hrlsEQ8l43jK4aXq...|Steven Matthews MD|
|p8rCTA139YIM6DQNq...|     Sarah Johnson|
|gO9Ie4xaS9A2OEP1O...|      Morgan Gates|
|CLISa_cfsE09NGNRV...|     Samuel Taylor|
|lSYuWv8KdZiHYIhFx...|Frederick Williams|
|tlOYWLfely6j68T9m...|     Charles Jones|
|cOS-MNurk0vTQf2QL...|        Susan Lane|
|8G5x4agMlY9BPyQAV...|   Katrina Fuentes|
|mTcy82Ll983oC4YXD...|      Philip Ramos|
|vWn_D48yeEbWpX49N...|   Melanie Wheeler|
|6AGD5YdMITBtjGsou...|     Richard Jones|
|VZiomHaM9olXlV7el...|   Michael Gilmore|
|v7gsMsxQrQlQ4-JCe...|       John Waller|
|4llwVVDnBkjDFx_3t...|    Darren Lindsey|
|t-zh2SipbKPc2KfE6...|       Seth Gibson|
|KjOLEj6uoZq8h01B4...|     Reginald Mann|
|inF2vQg7SGNHlgRXV...|        Gina Moore|
|8YSOoy6vauTKk4Tzx...|     Kevin Collins|
|xO7EjbuU9cVLl7KvV...|     Erika Ramirez|
|3qFzAjc6f7RPNVPCh...|     George Harris|
+--------------------+------------------+
only showing top 20 rows

In [15]:
name_list.toPandas().to_csv('users_list.csv')

In [16]:
business_df = df2.select("itemID").distinct().coalesce(1)
business_df.show()

+--------------------+
|              itemID|
+--------------------+
|66o2Fw42ZhGSuX1VF...|
|oLJWjd5VAkMbLU2e3...|
|_jw0beMekkOuCEGRx...|
|4QKuGnvjiPta_kk7J...|
|fSsdhoCC3FsXrSAAQ...|
|OuBUzqGj02xunvlIs...|
|bxy3khT-2R66tcdKj...|
|QAX9PI0-cAJN6x7rr...|
|6a8EOxICJtgzHViVm...|
|3ZVgig7uux9jVtEZn...|
|usrqG3sAANrQPvaHl...|
|Nqy2tJV3AGqW9Uil-...|
|cyvpFpmpN0YgDykuO...|
|Agq4zoNLSIpT1_ZJb...|
|czsrWGmQRDwP0tBid...|
|FbZLY5XASP9phBySt...|
|4SRTmovGJLmUgsfL8...|
|3gvHGMSHo4D8eXXSJ...|
|DZXp8m38R0s9U3Saj...|
|W4h9Tckj5WFJk1ve8...|
+--------------------+
only showing top 20 rows

In [17]:
inner_join = business_df.join(df, business_df.itemID == df.business_id)

AttributeError: 'DataFrame' object has no attribute 'business_id'

In [ ]:
inner_join.show()

In [ ]:
inner_join.printSchema()

In [ ]:
select_a = ["business_id", "postal_code", "longitude", "latitude", "name", "state", "stars", "address", "city"]
business_df = inner_join.select(select_a)
business_df.show()

In [ ]:
business_df.toPandas().to_csv('business_list.csv')